# Copyright © 2024 The µCAD authors <info@ucad.xyz>
# SPDX-License-Identifier: AGPL-3.0-or-later

[package]
name = "microcad-lang"
description = "µCAD language"
edition.workspace = true
rust-version.workspace = true
version.workspace = true

[lib]
path = "lib.rs"

[dependencies]
pest = "2.7"
pest_derive = "2.7"
log = "0.4"
rctree = "0.6.0"
lazy_static = "1.5"
cgmath = "0.18"
thiserror = "1.0"
anyhow = "1"
strum = { version = "0.26", features = ["derive"] }
microcad-core = { path = "../core" }
microcad-render = { path = "../render" }
env_logger = "0.11"
